@model List<DEMLEYCDAMMAGSMC20240321.Models.Computers>

@{
    Layout = null;
}

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Descripción de Componentes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var computadora in Model)
        {
            <tr>
                <td>@computadora.Name</td>
                <td>@computadora.Brand</td>
                <td>
                    <ul>
                        @foreach (var componente in computadora.Components)
                        {
                            <li>@componente.Description</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
